@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);


h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}


.home-page-header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px   ;
}

.dev-logo {
    align-self: center;
}

.nav-links {
    width: 50%;
    justify-content: space-between;
    display: none;
}

.nav-links ul {
    width: 100%;
    display: flex;
}

.nav-links ul li {
    width: 25%;
}

.side-nav {
    height: calc(100vh - 75px);
    min-width: 250px;
    max-width: 30%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.home-page-mid {
    display: flex;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.product-container {
    width: 50%;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;

}

.product-container img {
    width: 100%;

}

.product-footer {
    height: 58px;
    display: flex;
    padding: 10px;
    justify-content: space-between;

}

.title-container {
    width: 65%;
}

@media(min-width: 900px) {

    .HAM {
        display: none;
    }

    .nav-links {
        display: flex;
    }

    .side-nav {
        display: flex;
    }

    .product-container {
        width: 33%;
    }
}

